html,
body,
.wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.over_map_list {
    height: calc(100% - 30px);
    position: absolute;
    width: 300px;
    top: 50px;
    z-index: 3;
    overflow: auto;
}

.error_message {
    margin: auto;
    top: 50%;
    right: 50%;
}

.error {
    position: absolute;
    background: #ffecec;
    border: 1px solid #f5aca6;
}

.input-group {
    width: 280px;
    top: 10px;
}

.btn:focus {
    outline: none;
}

/* responsive adapter for listview*/
@media only screen and (max-width: 600px) {
    .over_map_list {
        height: 30%;
        position: absolute;
        width: 300px;
        top: 40px;
        left: 0;
        z-index: 3;
        overflow: auto;
    }
}

